    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Parveen R Eswaran</mat-card-title>
        <mat-card-subtitle>Work in progress</mat-card-subtitle>
      </mat-card-header>
      <h2><em> Welcome <br>Bienvenue ~ Willkommen ~ Benvenuto ~ Aloha ~ Yōkoso ~ Svagat </em></h2>
      <mat-card-content>
      <mat-card>
      Learning new technologies and using them to create stimulating and
      engaging experiences is what excites me most. I embrace every new
      challenge as an opportunity to grow as a professional.
      </mat-card>
      </mat-card-content>
    </mat-card>

    <mat-tab-group>
    <mat-tab>
    <ng-template mat-tab-label>
    <mat-icon>assignment</mat-icon> Resume
    </ng-template>
      <h1>Resume</h1>

    <app-cv></app-cv>
    </mat-tab>

    <mat-tab>
    <ng-template mat-tab-label>
    <mat-icon><i class="material-icons">sentiment_very_satisfied</i></mat-icon> Professional Goals
    </ng-template>
    <h1>Professional *wins*</h1>
    <app-prof-goals></app-prof-goals>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
      <mat-icon>local_library</mat-icon>   Interesting Reads
      </ng-template>
    
    <h1>Best pasta restaurants</h1>
    <p>...</p>
    </mat-tab>
    <mat-tab>
    <ng-template mat-tab-label>
    <mat-icon>share</mat-icon> Hooked on' Apps
    </ng-template>
    <h1>Terrible sushi restaurants</h1>
    <p>...</p>
    </mat-tab>
</mat-tab-group>
