.example-container {
 height:100vh;
}

.example-sidenav-content {
  display: flex;
  flex-direction:row-reverse;
}

.example-sidenav {
 width:25vw;
}

@media only screen and (max-width: 900px) {
  .example-sidenav-content {

  }
}
