<p>
  cv works!
</p>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Experience
    </mat-panel-title>
    <mat-panel-description>
    Web Developer | JavaScript Engineer| Angular2 Developer | Agile Methodologies |
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>
  SOFTWARE DEVELOPER: NOVEMBER 2015 - PRESENT
  MIT LINCOLN LABORATORY LEXINGTON, MA
  Group 45—Informatics and Decision Support ~The Informatics and Decision Support Group develops
  advanced software systems, analytics, and human-systems interface solutions to improve the timeliness,
  confidence, and optimality of decisions.
  </p>

  <p>
  Projects & Responsibilities
  Role : Android Developer November 2016 - Present
  ‣ Currently involved in development, maintenance, improvements and refactoring of proprietary android
  applications utilized as a tool for planning and estimation purposes.
  ‣ Some components of my task includes the improvements to the current user interface, develop additional
  android trigger events and sensor management, restructure code base to produce a more manageable
  development process.
  Role : Front End User Interface Developer November 2015 - January 2017
  ‣ JavaScript UI Engineer responsible for creating innovative web experiences and engaging applications. By
  combining both design sensibilities and technical expertise enabled the application to look good and
  function well.
  ‣ My prime responsibility and focus was the way the functionality is displayed while ensuring the fine detail of
  how users interact with the interface is met.
  ‣ Some of my tasks included production of the visual design and functioning front-end code using modern
  HTML, Angular JS, jQuery and CSS practices. The emphasis of this project was building data discovery and
  collaboration tools, as well as video analytics to produce polished final production quality outputs
  </p>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
    Education
    </mat-panel-title>
    <mat-panel-description>
    Schools
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>
    Worcester State University, Worcester - MA — B.S. Computer Science 2000
    School Of Business & Computer Science, Trinidad - Diploma Information Systems 1998
  </p>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
    Skill-set
    </mat-panel-title>
    <mat-panel-description>
      This is a summary of the content
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>
    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
    bred for hunting.The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.

  </p>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
  Bonuses
    </mat-panel-title>
    <mat-panel-description>
      This is a summary of the content
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>
    Security Clearance: Active DOD
    United States Citizen

  </p>
</mat-expansion-panel>
